<div>
<app-header></app-header>
<div class="main-content">
    <div class="header-content">
        <div class="emp-detail-text">
            Employee Details
            <div class="emp-count">{{ this.empCount }}</div>
        </div>
        <a routerLink="/payroll-form" class="add-button">
            <img src="../../../assets/icons/add-24px.svg" alt="">Add User 
        </a>
    </div>
    <div class="table-main">
        <table id="display" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>Start Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empPayroll of empPayrollList">
                    <td>
                        <img class="profile" alt="" src="{{ empPayroll.profilePic }}">
                    </td>
                    <td>{{ empPayroll.name }}</td>
                    <td>{{ empPayroll.gender }}</td>
                    <td>
                        <label *ngFor="let department of empPayroll.department">
                            <div class="dept-label">{{ department }}</div>
                        </label>    
                    </td>
                    <td>{{ empPayroll.salary }}</td>
                    <td>{{ empPayroll.startDate }}</td>
                    <td>
                        <img id="{{ empPayroll._id }}" onclick="remove(this)" alt="delete" src="../../../assets/icons/delete-black-18dp.svg">
                        <img id="{{ empPayroll._id }}" onclick="update(this)" alt="edit" src="../../../assets/icons/create-black-18dp.svg">                    
                    </td>
                </tr>
            </tbody>            
        </table>
        </div>
    </div>                 
</div>