<app-header></app-header>
<div class="main-content">
    <div class="header-content">
        <div class="emp-detail-text">
            Employee Details
            <div class="emp-count">10</div>
        </div>
        <a href="" class="add-button">
            <img src="../../../assets/icons/add-24px.svg" alt="">Add User 
        </a>
    </div>
    <div class="table-main">
        <table id="display" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>Start Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empPayroll of empPayrollListLocal">
                    <td>
                        <img class="profile" alt="" src="{{ empPayroll._profilePic }}">
                    </td>
                    <td>{{ empPayroll._name }}</td>
                    <td>Male</td>
                    <td>
                        <label *ngFor="let department of empPayroll._department">
                            <div class="dept-label">{{ department }}</div>
                        </label>    
                    </td>
                    <td>{{ empPayroll._salary }}</td>
                    <td>{{ empPayroll._startDate }}</td>
                    <td>
                        <img id="{{ empPayroll._id }}" onclick="remove(this)" alt="delete" src="../../../assets/icons/delete-black-18dp.svg">
                        <img id="{{ empPayroll._id }}" onclick="update(this)" alt="edit" src="../../../assets/icons/create-black-18dp.svg">                    
                    </td>
                </tr>
            </tbody>            
        </table>
        </div>             
</div>