<div>
<app-header></app-header>
<div id="formId" class="form-content">
    <form class="form" action="#" [formGroup]="employeeForm" (ngSubmit)="save()">
        <div class="form-head">Employee Payroll form</div>
        <div class="error-output">{{this.errorText}}</div>
        <div class="row-content">
            <label class="label text" for="name">Name</label>
            <input formControlName="name"
                [ngClass]="{'form-control': true,
                            'is-invalid': !name.valid && name.touched,
                            'is-valid': name.valid}"
             class="input" type="text" id="name" name="name" placeholder="Your name..." required><br/>           
        </div>
        <span *ngIf="name.errors?.required && name.touched" id="fnHelp" class="error-output">Field is required</span><br/>
        <span *ngIf="name.errors?.pattern && name.touched" id="fnHelp" class="error-output">Name should be atleast 3 characters.</span> 
        <div class="row-content">
            <label class="label text" for="profilePic">Profile Image</label>
            <div class="profile-radio-content">
                <label *ngFor='let profile of profileArray'>
                    <input type="radio" formControlName="profilePic" name="profilePic" [value]="profile.path" >
                    <img class="profile" [src]="profile.path">
                </label>        
            </div>         
        </div>
        <div class="row-content">
            <label class="label text" for="gender">Gender</label>
            <div>
                <input formControlName="gender" type="radio" id="male" name="gender" value="male" >
                <label class="text" for="male">Male</label>
                <input formControlName="gender" type="radio" id="female" name="gender" value="female">
                <label class="text" for="female">Female</label>         
            </div>
        </div>
        <div class="row-content">
            <label class="label text" for="department">Department</label>
            <div *ngFor="let control of allDepartmentsArray.controls; let i = index;">
                <input class="checkbox" type="checkbox" [formControl] = "control" id="{{allDepartments[i]}}">
                <label for="{{allDepartments[i]}}">{{allDepartments[i]}}</label>
            </div>
        </div>
        <div class="row-content">
            <label class="label text" for="salary">Choose salary:</label>
            <input formControlName="salary" (change)="onSalaryChange()" class="input" type="range" id="salary" min="300000" max="500000" step="100" value="400000">
            <output class="salary-output text" for="salary">{{this.selectedSalary}}</output>         
        </div>
        <div class="row-content">
            <label class="label text" for="startDate">Start Date</label>
            <div id="date">
                <select formControlName="day" id="day" name="Day">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>        
                    <option value="24">24</option>        
                    <option value="25">25</option>        
                    <option value="26">26</option>        
                    <option value="27">27</option>
                    <option value="28">28</option>        
                    <option value="29">29</option>        
                    <option value="30">30</option>        
                    <option value="31">31</option>                        
                </select>
                <select formControlName="month" id="month" name="Month">
                    <option value="Jan">January</option>
                    <option value="Feb">February</option>
                    <option value="Mar">March</option>
                    <option value="Apr">April</option>
                    <option value="May">May</option>
                    <option value="Jun">June</option>
                    <option value="Jul">July</option>
                    <option value="Aug">August</option>
                    <option value="Sep">September</option>
                    <option value="Oct">October</option>
                    <option value="Nov">November</option>
                    <option value="Dec">December</option>
                  </select>
                <select formControlName="year" id="year" name="Year">
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>                        
                </select>
                <span class="date-error" for="text"></span>        
            </div>    
        </div>
        <div class="row-content">
            <label class="label text" for="notes">Notes</label>
            <textarea formControlName="notes" class="input" id="notes" name="notes" placeholder="Add notes.." style="height: 60px;"></textarea>         
        </div>
        <div class="buttonParent">
            <a href="./home.html" class="resetButton button cancelButton">Cancel</a>
            <div class="submit-reset">
                <button type="submit" class="button submitButton" id="submitButton">Submit</button>
                <button type="reset" class="button resetButton">Reset</button>        
            </div>
        </div>
    </form>
</div>
</div>
